@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Jua', sans-serif;
}

a {
  padding: 5px 3px;
}


@layer base {
  h1 {
    @apply text-[38px] text-center text-gray-600 mb-12;
  }

  h2 {
    @apply text-2xl text-gray-600;
  }

  h5 {
    @apply text-lg text-gray-600;
  }

  h6 {
    @apply text-gray-600;
  }

  p {
    @apply text-[15px] text-gray-600 tracking-widest leading-6;
  }
}

@layer components {
  .logo {
    @apply mx-6 md:mx-12 text-2xl md:text-4xl font-semibold text-gray-800;
  }

  .mobile_nav_container {
    @apply absolute top-[60px] md:top-[80px] bg-[#e9e6ddea] w-[100%] text-center hidden;
  }

  .nav_item {
    @apply mx-2.5 text-gray-700 text-2xl;
  }

 .section_layout {
    @apply pt-40 px-[5%] lg:px-[8%];
  }

  .title {
    @apply text-[36px] lg:text-[38px] bg-[#e1d6b447] border-solid border-b-[8px] border-r-[5px] rounded-full border-[#4e3a0d1f] leading-5 pl-2 pr-1;
  }

  .main_visual_text{
    @apply text-[12px] leading-3 md:text-[14px] md:leading-4;
  }

  .index_about_section {
    @apply px-[5%] pt-6 lg:pt-24 md:px-[3%] lg:flex lg:flex-wrap lg:justify-center;
  }

  .index_about_image_container {
    @apply px-[5%] md:px-[20%] lg:px-[3%] mt-10 w-auto flex justify-center md:justify-end;
  }

  .index_about_img {
    @apply lg:px-0 w-[240px] md:w-[280px];
  }

  .index_about {
    @apply px-[5%] md:px-[20%] lg:px-[3%] mt-10 flex flex-col items-center md:mt-0 md:items-start lg:block;
  }
  .index_about_title {
    @apply mx-0.5 text-[28px] lg:text-[32px] leading-[42px] md:leading-[45px] md:tracking-widest text-gray-600;
  }

  .index_about_content {
    @apply flex flex-col items-center px-6;
  }

  .line {
    @apply pb-0.5 text-gray-700 border-b-2 border-gray-400 hover:text-gray-500 hover:border-gray-300 hover:text-[0.95rem];
  }

  .photograph_li {
    @apply w-[100%] sm:w-[50%] lg:w-[25%];
  }

  .photograph_img {
    @apply p-3 w-[100%];
  }

  .works_item {
    @apply text-5xl text-gray-600;
  }

  .album_li {
    @apply px-3;
  }

  .blog_li {
    @apply px-3;
  }

  .blog_img {
    @apply object-fill;
  }

  .contact_content {
    @apply text-[14px] md:text-[16px];
  }

  .paw_icon {
    @apply text-[32px] mx-2;
  }

  .icon {
    @apply text-2xl md:text-3xl text-gray-700 px-3 hover:text-[#7b7771fb] hover:text-[1.3rem] md:hover:text-[1.7rem];
  }

  .avatar {
    @apply  w-[280px] md:mr-6 md:ml-6 md:mt-6 lg:ml-20 lg:mr-10 xl:ml-40;
  }

  .li_left_rwd {
    @apply w-[20%] lg:w-[30%] text-right pt-5 pr-3 lg:pr-10;
  }
  
 .li_left {
    @apply w-[30%] text-right pt-5 pr-3 lg:pr-10;
  }
  
  .li_right {
    @apply w-[80%] lg:w-[70%] pt-5 pl-5 pr-8 lg:pl-10 border-l-2 border-dotted;
  }
 
  .footer_container {
    @apply h-[100px] w-[90%] pt-10 pb-24 flex justify-center lg:justify-between border-t-2;
  }

  .footer_li {
    @apply text-gray-600 px-3 text-xl hover:text-[#7b7771fb];
  }

}

.nav_item::after {
  content: '';
  width: 0px;
  height: 0.5px;
  background: #7b7771fb;
  padding-top: 3.5px;
  border-radius: 30%;
  transition: 300ms;
}

@media screen and (min-width:768px) {
  .nav_item:hover::after {
    display: block;
    width: 100%;
  }

  #sm_nav_list {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .nav_item:nth-child(-n+3):hover {
    color: #8d8c89fb;
  }

  .nav_item:nth-last-child(-n+2):hover {
    color: #a79c88fb;
  }
}

.nav_block {
  display: block;
}

.index_about_title,
.index_about_content {
  font-family: 'Kosugi Maru', sans-serif;
}

.reference-link {
  color: #885e2be6;
  padding: 0px;
  text-decoration: revert;
}

.image_container {
  overflow: hidden;
  margin-top: 5px;
}

.image:hover {
  opacity: 0.65;
  transform: scale(1.15);
  transition-duration: .75s;
}
.hightline {
  color: #9d5d05b8;
}