@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body{
  font-family: "Comic Sans MS",'M PLUS Rounded 1c';
} 
a{
  padding: 5px 3px;
}


@layer base {
  h1 {
    @apply text-[42px] text-center text-gray-600 mb-12 ;
  }
  h2{
    @apply   text-2xl text-gray-600; 
  }
  h6{
    @apply   text-gray-600; 
  }
  p {
    @apply text-[13px] text-gray-600 tracking-widest leading-6;
  }
}

@layer components {
  .section_layout{
    @apply pt-40 px-[5%] lg:px-[10%];
  }
  .nav_item {
    @apply mx-2.5 text-gray-700 text-xl; 
  }
  .title{
    @apply  bg-[#f4f0cb50] border-solid border-b-[8px] border-r-[5px] rounded-full  border-[#4e3a0d1f]	leading-5 pl-2 pr-1;
  }
  .about_img{
    @apply  h-[250px]  md:h-[300px] lg:px-0 mt-20 lg:w-[300px];
  }
  .about_title {
    @apply mx-1  text-3xl md:text-4xl leading-[40px] md:leading-[45px] md:tracking-widest text-gray-600;
  }
  .line{
    @apply text-gray-700 border-b-2  border-gray-500  hover:border-gray-300 hover:hover:text-[#7b7771fb];
  }
  .photograph_li{
    @apply w-[50%] lg:w-[25%];
  }
  .photograph_img{
    @apply p-3 w-[100%];
  }
  .works_item{
    @apply text-5xl text-gray-600;
  }
  .album_li{
    @apply p-3;
  }
  .blog_li{
    @apply px-3 py-5;
  }
.blog_img{
  @apply aspect-[3/2.6] py-5;
  }
  .footer{
    @apply border-t-2;
  }
  .footer_li{
    @apply text-gray-600 px-3 hover:text-[#7b7771fb];
  }
  .contact_content{
    @apply text-[16px];
  }
  .paw_icon{
    @apply text-[32px] mx-2;
  }
.icon{
  @apply text-2xl text-gray-700 px-2 hover:text-[#7b7771fb] hover:text-[26px];
  }
.li_left{
  @apply w-[10%] lg:w-[18%] text-right pt-5 pr-2 lg:pr-10;
  }
.li_right{
  @apply w-[90%] lg:w-[78%] pt-5 pl-2 lg:pl-10 border-l-2 border-dotted ;
  }
}

.nav_item::after {
  content: '';
  width: 0px;
  height: 1.2px;
  background: #7b7771fb;
  padding-top: 2px;
  transition: 300ms;
}

@media screen and (min-width:768px) {
  .nav_item:hover::after {
    display: block;
    width: 100%;
  }
  #sm_nav_list{
    display: none;
  }
}
@media screen and (max-width:768px) {
  .nav_item:nth-child(-n+3):hover {
    color:#8d8c89fb;
  }
  .nav_item:nth-last-child(-n+2):hover{
    color:#a79c88fb;
  }
}

.nav_block {
  display: block;
}

.about_title,.about-content {
  font-family:'Hachi Maru Pop', cursive;
}
.reference-link {
  color: #885e2be6;
  padding: 0px;
}
